<%- Paper.aasm.states.each do |state| %>
  <div style="padding-bottom:10px; border-bottom: solid 2px black; margin-bottom:10px;margin-left:20px">

    <% papers = Paper.where(state: state.name) %>
    <h3><%= papers.count %> <%= state.name %> papers</h3>

    <%- papers.each do |p| %>
      <div style="margin-bottom:12px">
        <div style="font-weight:bold">Title: <%= p.title %></div>
        <ul style="margin:0">
          <li>PDF: <%= link_to p.document_location %></li>
          <li>Authors: <%= p.authors %></li>
        </ul>
      </div>
    <% end %>

  </div>
<% end %>
