<div id="dashboard">
  <div id="page">
    <div class="banner">
      <iron-icon icon="icons:error" class="alert"></iron-icon>
 You've been assigned as a reviewer on a new paper. <a href="#">Begin review.</a>
    </div>
    <div class="papers">
      <h2 class="headline">Hi <%= current_user.name %>. You have <%= link_to(pluralize(author_papers.size, 'paper'), "#submitted") %> submitted, <%= link_to(pluralize(reviewer_papers.size, 'paper'), "#reviewing") %> you're reviewing and <%= link_to(pluralize(editor_papers.size, 'paper'), "#editing") %> you're editing.</h2>

      <h2 class="category" name="submitted">Submitted</h2>
      <%= render partial: "dashboard_paper", locals: { papers: author_papers } %>
      <h2 class="category" name="reviewing">Reviewing</h2>
      <%= render partial: "dashboard_paper", locals: { papers: reviewer_papers } %>
      <h2 class="category" name="editing">Editing</h2>
      <%= render partial: "dashboard_paper", locals: { papers: editor_papers } %>
      <br />
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>
