<div class='paper_controlls'>

  <h2>{{paper.state}}</h2>
  <p>Paper currently has {{paper.pending_issues_count}} pending issues</p>
  <p>Author {{paper.user.sha}}</p>

  {{#if user.editor}}
    <div class=' panel panel-info editor_controls'>
      <div class="panel-heading">Editor Controlls</div>
      <div class='panel-body'>
          {{#if paperIsPending}}
            <div class="form-group">
              <label for="reviewer_name">Name</label>
              {{input type='text' size="20" class='form-control' placeholder='Username'}}
              <button {{action assignReviewer}} type="submit" class="btn btn-default">Submit</button>
            </div>
          {{/if}}
      </div>
    </div>
  {{/if}}


  <div class='panel panel-primary reviewer_info'>
    <div class="panel-heading">Reviewer Controlls</div>
    <div class='panel-body'>
      {{#if showReviewerInfo}}
        {{#if paperIsUnderReview}}
          Currently being reviewed by : {{paper.reviewer.sha}}
        {{else}}
          No one currently assigned to review
        {{/if}}
      {{/if}}

      {{#if userIsReviewer}}
        <p> You have been assigned as a reviewer on this paper <a href='#' class='button'>Review</a></p>
      {{/if}}
    </div>
  </div>

</div>
