 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The OJ</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'about'}} About{{/link-to}}</li>
        <li>{{#link-to 'about'}} People{{/link-to}}</li>
        <li>{{render 'auth_bar'}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="#">Featured Papers</a></li>
        <li>{{#link-to 'submit_paper'}}Submit a paper{{/link-to}}</li>
      </ul>

      {{partial "links_for_author"}}

      {{#if editor}}
        {{partial "links_for_editor"}}
      {{/if}}


      {{#if reviewer}}
        {{partial "links_for_reviewer"}}
      {{/if}}

      {{#if author}}
      {{/if}}

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {{outlet}}
    </div>
  </div>
</div>
