<!DOCTYPE html>
<html>
  <head>
    <title>The Open Journal</title>

    <%= javascript_include_tag "application" %>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style is="custom-style"><%= Rails.application.assets['application.css'].to_s.html_safe %></style>
    <%= html_import_tag "application" %>

    <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
    <script charset="utf-8" src="http://vivin.net/pub/pdfjs/textlayerbuilder.js"></script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <%= csrf_meta_tags %>
  </head>
<body unresolved class="fullbleed layout vertical">

<%= yield %>
<%= render 'layouts/flash' %>

</body>
</html>
