<!DOCTYPE html>
<html>
  <head>
    <title>The Open Journal</title>

    <%= javascript_include_tag "webcomponentsjs/webcomponents" unless Rails.env.test? %>
    <%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag    "application", media: "all", :'shim-shadowdom'=>'' %>
    <%= html_import_tag "application" %>

    <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
    <script charset="utf-8" src="http://vivin.net/pub/pdfjs/textlayerbuilder.js"></script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

    <%= csrf_meta_tags %>
  </head>
<body unresolved fullbleed layout vertical>

<%= yield %>
<%= render 'layouts/flash' %>

</body>
</html>
