<!DOCTYPE html>
<html>
<head>
  <title>Theoj</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script charset="utf-8" src='/pdf.js'></script>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body unresolved fullbleed>

<%= yield %>


</body>
</html>
